<body class="bg-gradient-primary">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">

                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                            <div class="col-lg-7">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="pull-right">
                                            <app-select-language></app-select-language>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="p-5">
                                            <div class="text-center">
                                                <h1 class="h4 text-gray-900 mb-4" translate>RESET_TITLE</h1>
                                            </div>
                                            <form class="user" (ngSubmit)="onSubmit()" [formGroup]="resetForm">
                                                <div class="form-group">
                                                    <!-- <label for="username" class="label-custom-input " translate>EMAIL</label> -->
                                                    <input id="email" type="email"
                                                        placeholder="{{ 'PLACEHOLDER_EMAIL' | translate }}" required=""
                                                        formControlName="email" autofocus=""
                                                        class="form-control form-control-user border-0 shadow-sm px-4 custom-input">
                                                    <app-control-message
                                                        [control]="$any(resetForm.controls['email'])"></app-control-message>
                                                </div>
                                                <button id="reset-btn" type="submit" [disabled]="!resetForm.valid"
                                                    class="btn btn-primary btn-user btn-block">
                                                    <span class="title-button" translate>RESET_BTN</span>
                                                </button>
                                            </form>
                                            <hr>
                                            <div class="text-center">
                                                <button id="back_btn" type="button" (click)="back()" class="btn btn-link small"
                                                    translate>BACK</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ngx-loading [show]="loading" [config]="{
    backdropBackgroundColour: 'rgba(0,0,0,0.8)',
    backdropBorderRadius: '4px',
    primaryColour: '#ffffff',
    secondaryColour: '#ffffff',
    tertiaryColour: '#ffffff'}"></ngx-loading>


</body>