<div class="container-fluid">
  <div class="row" style="margin-top: 24px">
    <div class="col-sm-12">
      <h1 translate>ADD_ARTIFACT</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <mat-card>
        <mat-card-content>
          <form
            [formGroup]="createForm"
            (ngSubmit)="onSubmit()"
            enctype="multipart/form-data"
          >
            <div class="form-group">
              <label for="name" translate>NAME</label>
              <input
                type="text"
                class="form-control"
                id="name"
                formControlName="name"
              />
            </div>
            <div class="form-group">
              <label for="description" translate>DESCRIPTION</label>
              <textarea
                class="form-control"
                id="description"
                formControlName="description"
              ></textarea>
            </div>
            <div class="form-group">
              <label for="file" translate>FILE</label>
              <input
                type="file"
                class="form-control"
                id="file"
                (change)="onFileSelected($event)"
                formControlName="file"
              />
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-6">
                  <button
                    class="btn btn-danger btn-block"
                    type="button"
                    (click)="backToList()"
                    translate
                  >
                    BACK
                  </button>
                </div>
                <div class="col-6">
                  <button
                    class="btn btn-primary btn-block"
                    type="submit"
                    translate
                  >
                    SAVE_BUTTON
                  </button>
                </div>
              </div>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<ngx-loading
  [show]="submitting"
  [config]="{
    backdropBorderRadius: '3px',
    backdropBackgroundColour: 'rgba(0,0,0,0.8)',
    primaryColour: '#ffffff',
    secondaryColour: '#ffffff',
    tertiaryColour: '#ffffff'
  }"
></ngx-loading>
