<div class="row" style="margin-top: 24px;">
    <div class="col-sm-12">
        <h1 translate>DASHBOARD</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <mat-card>
            <mat-card-content>
                <highcharts-chart *ngIf="chartOptions" [Highcharts]="Highcharts" [options]="chartOptions"
                    style="width: 100%; height: 400px; display: block;"></highcharts-chart>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px',
        backdropBackgroundColour: 'rgba(0,0,0,0.8)',
        primaryColour: '#ffffff',
        secondaryColour: '#ffffff',
        tertiaryColour: '#ffffff'}"></ngx-loading>