<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800" translate>DASHBOARD</h1>
  <button
    type="button"
    data-toggle="modal"
    data-target="#modalReport"
    class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
    translate
  >
    <i class="fas fa-download fa-sm text-white-50"></i> GENERATE_REPORT
  </button>
</div>

<!-- Content Row -->
<div class="row">
  <div class="col-12 col-sm-6 col-md-3 mb-4">
    <app-card
      *ngIf="event"
      [title]="translate.instant('CARD_TITLE_TOTAL_GUESTS')"
      [value]="event.guests"
      [icon]="'fas fa-users'"
      [color]="'primary'"
    ></app-card>
  </div>
  <div class="col-12 col-sm-6 col-md-3 mb-4">
    <app-card
      [title]="translate.instant('CARD_DATE')"
      [value]="formattedDate(event.date)"
      [icon]="'fas fa-calendar-check'"
      [color]="'info'"
    ></app-card>
  </div>
  <div class="col-12 col-sm-6 col-md-3 mb-4">
    <app-card
      *ngIf="event"
      [title]="translate.instant('CARD_TITLE_TOTAL_BUDGET')"
      [value]="formatCoin(event.budget)"
      [icon]="'fas fa-dollar-sign'"
      [color]="'success'"
    ></app-card>
  </div>
  <div class="col-12 col-sm-6 col-md-3 mb-4">
    <app-card
      *ngIf="event"
      [title]="translate.instant('TIME_LEFT')"
      [value]="resultCountdown"
      [icon]="'fas fa-calendar'"
      [color]="'warning'"
      [variant]="'sm'"
    ></app-card>
  </div>
</div>

<!-- Content Row -->

<div class="row">
  <div class="col-6 mt-6">
    <app-checklist [event_id]="this.user.event"></app-checklist>
  </div>
  <div class="col-6 mt-6">
    <mat-calendar></mat-calendar>
  </div>
</div>

<div
  class="modal fade"
  id="modalReport"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" translate>
          CHOOSE_REPORT
        </h5>
        <button
          class="close"
          type="button"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body" translate>MODAL_REPORT_DESCRIPTION</div>
      <div class="modal-footer">
        <button
          class="btn btn-secondary"
          type="button"
          (click)="getEventReportCSV()"
          translate
        >
          DOWNLOAD_CSV
        </button>
        <button
          class="btn btn-secondary"
          type="button"
          (click)="getEventReportPDF()"
          translate
        >
          DOWNLOAD_PDF
        </button>
      </div>
    </div>
  </div>
</div>

<ngx-loading
  [show]="loading"
  [config]="{
    backdropBorderRadius: '3px',
    backdropBackgroundColour: 'rgba(0,0,0,0.8)',
    primaryColour: '#ffffff',
    secondaryColour: '#ffffff',
    tertiaryColour: '#ffffff'
  }"
></ngx-loading>
