<div class="container-fluid">
  <div class="row" style="margin-top: 24px">
    <div class="col-sm-12">
      <h1 translate>UPDATE_GUEST</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <mat-card>
        <mat-card-content>
          <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="name" translate>NAME</label>
              <input
                type="text"
                class="form-control"
                id="name"
                formControlName="name"
              />
            </div>
            <div class="form-group">
              <label for="email" translate>EMAIL</label>
              <input
                type="email"
                class="form-control"
                id="email"
                formControlName="email"
              />
            </div>
            <div class="form-group">
              <label for="phone" translate>PHONE</label>
              <input
                type="text"
                class="form-control"
                id="phone"
                formControlName="phone"
              />
            </div>
            <div class="form-group">
              <div class="">
                <label for="confirmed" translate>CONFIRMED</label>
                <div class="row">
                  <div class="col-2 col-sm-1 col-md-1">
                    <input
                      type="checkbox"
                      class="form-control"
                      id="confirmed"
                      formControlName="confirmed"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="">
                <label for="has_dependents" translate>HAS_DEPENDENTS</label>
                <div class="row">
                  <div class="col-2 col-sm-1 col-md-1">
                    <input
                      type="checkbox"
                      class="form-control"
                      id="has_dependents"
                      (change)="this.updateDependents($event)"
                      formControlName="has_dependents"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div
              class="form-group"
              *ngIf="this.editForm.controls['has_dependents'].value === true"
            >
              <label for="dependents" translate>DEPENDENTS</label>
              <input
                type="number"
                class="form-control"
                id="dependents"
                formControlName="dependents"
              />
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-6">
                  <button
                    class="btn btn-secondary btn-block"
                    type="button"
                    (click)="backToList()"
                    translate
                  >
                    BACK
                  </button>
                </div>
                <div class="col-6">
                  <button
                    class="btn btn-primary btn-block"
                    type="submit"
                    translate
                  >
                    UPDATE_BUTTON
                  </button>
                </div>
              </div>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<ngx-loading
  [show]="submitting"
  [config]="{
    backdropBorderRadius: '3px',
    backdropBackgroundColour: 'rgba(0,0,0,0.8)',
    primaryColour: '#ffffff',
    secondaryColour: '#ffffff',
    tertiaryColour: '#ffffff'
  }"
></ngx-loading>
